:root {
  --clr-neutral-900: #1f2937;
  --clr-neutral-400: #c8cacf;
  --clr-neutral-100: #F9FAF8;
  --clr-accent: #3882f6;

  --ff-primary: "Roboto", sans-serif;

  --fs-400: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 2.25rem;
  --fs-900: 3rem;

  --fw-900: 900;
  --fw-700: 700;
  --fw-400: 400;
  --fw-300: 300;

}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* utility classes */

.flow-content>*+* {
  margin-top: var(--flow-spacer, .5rem);
}

.split {
  display: flex;
}

/* layout */

.hero__container {
  padding: .2rem 5rem 5rem 5rem;
  margin: 0 auto;
  max-width: 85rem;
}

.hero__content {
  margin-top: 5rem;
  gap: 2em;
}

header {
  justify-content: space-between;
}

.header__links {
  gap: 1em;
}

.info__container {
  padding: .2rem 8rem 5rem 8rem;
  margin: 0 auto;
  max-width: 80rem;
}

/* general styling */

body {
  font-family: "Roboto", sans-serif;
  color: var(--clr-neutral-400);
  font-size: var(--fs-400);
}

h1 {
  color: var(--clr-neutral-100);
  font-size: var(--fs-900);
  font-weight: var(--fw-900);
}

h2 {
  color: var(--clr-neutral-900);
  font-size: var(--fs-700);
  font-weight: var(--fw-900);
  text-align: center;
  padding: 1em 0;
}

ul {
  gap: 2rem;
  margin: 0;
}

li {
  flex-basis: 100%;
}

li>img {
  border: solid 3px var(--clr-accent);
  border-radius: 10px;
  height: 10rem;
  width: 10rem;
  margin: 0 auto;
}

li>p {
  text-align: center;
}

.hero {
  background-color: var(--clr-neutral-900);
}

.header__logo {
  color: var(--clr-neutral-100);
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
}

.btn {
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent);
  font-weight: var(--fw-700);
  border-radius: 4px;
  border: 0;
  padding: .3em 1.5em;
  cursor: pointer;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus {
  opacity: .5;
}