body {
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1F2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text,
.hero-right-links {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left-logo {
    font-size: 24px;
    color: #F9FAF8;
    padding-top: 16px;
}

.hero-button {
    background-color: #3882F6;
    height: 34px;
    width: 120px;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}

.hero-image {
    height: 230px;
    width: 500px;
}

.hero {
    display: flex;
    justify-content: space-around;
    height: 500px;
}

.hero-text {
    width: 450px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-left: 72px;
}

.hero-right {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: flex-end;
}

.hero-right-links {
    display: flex;
    gap: 16px;
    padding-top: 16px;
}